body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #109cff !important;
}
.jumbotron .container {
    text-align: center;
}

.navbar-brand.bar {
    border-right: 2px solid white;
    margin-right: 1em;
}

.category .item {
    padding: 5px;
    border: 1px solid blue;
}

.item .image {
    width: 10em;
    height: 10em;
    /*background-image: url(./images/startup-weekend-logo.png);*/
}

.navbar {
    margin-bottom: 2em;
}

.concierge {
    border: 2px solid blue;
}

.choice {
    display: inline-block;
    float: left;
    margin: 30px 0 30px 130px;
    text-align: center;
    padding-top: 10px;
    background-color: #6DD0F2;
    border-radius: 5px;
    min-height: 220px;
    width: 200px;
}

.choice:hover {
    cursor: pointer;
}

.link-choice, .link-choice:after, .link-choice:hover {
    color: rgb(51, 51, 51) !important;
    font-weight: bold;
    font-family: franklin-gothic-urw, nimbus-sans, 'Helvetica Neue', Helvetica, sans-serif;

}

.choice img {
    width: 60%
}

.choice-button {
    font-size: 24px;
    font-weight: bold;
    font-family: franklin-gothic-urw, nimbus-sans, 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 10px;
}

.back-button {
    float:left !important;
    position: absolute;
}

.website {
    width: 50px;
    height: 50px;
}
